include LICENSE
include README.md
include requirements.txt
recursive-include imageit/static *
recursive-include imageit/templates *
recursive-include imageit/tests *
exclude */__pycache__/
exclude *.DS_Store