include LICENSE
include README.rst
include version.txt
include requirements.txt
recursive-include imageit/static/imageit/dist *
recursive-include imageit/templates *
exclude */__pycache__/
exclude *.DS_Store